# -*- mode: snippet -*-
# name: metadata
# key: np
# --
Title: My super title
Date: run this C-u M-! date '+%F %R'
Modified: run this C-u M-! date '+%F %R'
Category: Python
Tags: pelican, publishing
Slug: my-super-post
Authors: Caio B. Silva
Summary: Short version for index and feeds

This is the content of my super blog post.${0}