# -*- mode: snippet -*-
# name: metadata
# key: np
# --
Title: My super title
Date: ${date '+%F %R'}
Modified: 2010-12-05 19:30
Category: Python
Tags: pelican, publishing
Slug: my-super-post
Authors: Caio B. Silva
Summary: Short version for index and feeds

This is the content of my super blog post.${0}